
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="My personal website, YSL.com">
    <meta name="author" content="NULL">
    <title>YSL.com</title>
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/freelancer.min.css'%} " rel="stylesheet">
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script> <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script> <![endif]-->
</head>

<body id="page-top" class="index">
    <div id="skipnav"><a href="#maincontent">Skip to main content</a></div>
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i> </button> <a class="navbar-brand" href="#page-top">YSL</a></div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll"> <a href="#Brand">Brand</a></li>
                    <li class="page-scroll"> <a href="#Polls">VOTE</a></li>
                    <li class="page-scroll"> <a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12"> <img class="img-responsive" src="/static/img/profile1.jpg" width="480" height="640" alt="">
                    <div class="intro-text">
                        <h1 class="name">Find the right<br> Brand for you</h1>
                        <hr class="star-light"> <span class="skills">Which brand will you choose?</span></div>
                </div>
            </div>
        </div>
    </header>
    <section id="Brand">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2> Look Around </h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#Brand1" class="Brand-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content"> <i class="fa fa-search-plus fa-3x"></i></div>
                        </div> <img src="/static/img/Brand/as.png" class="img-responsive" alt=""> </a>
                </div>
                <div class="col-sm-4 Shoesportfolio-item">
                    <a href="#Brand2" class="Brand-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content"> <i class="fa fa-search-plus fa-3x"></i></div>
                        </div> <img src="/static/img/Brand/bg.png" class="img-responsive" alt=""> </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#Brand3" class="Brand-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content"> <i class="fa fa-search-plus fa-3x"></i></div>
                        </div> <img src="/static/img/Brand/bt.png" class="img-responsive" alt=""> </a>
                </div>
                <div class="col-sm-4 Shoesportfolio-item">
                    <a href="#Brand4" class="Brand-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content"> <i class="fa fa-search-plus fa-3x"></i></div>
                        </div> <img src="/static/img/Brand/cp.png" class="img-responsive" alt=""> </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#Brand5" class="Brand-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content"> <i class="fa fa-search-plus fa-3x"></i></div>
                        </div> <img src="/static/img/Brand/gc.png" class="img-responsive" alt=""> </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#Brand6" class="Brand-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content"> <i class="fa fa-search-plus fa-3x"></i></div>
                        </div><img src="/static/img/Brand/lw.png" class="img-responsive" alt=""> </a>
                     </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#Brand7" class="Brand-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content"> <i class="fa fa-search-plus fa-3x"></i></div>
                        </div><img src="/static/img/Brand/mm.png" class="img-responsive" alt=""> </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#Brand8" class="Brand-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content"> <i class="fa fa-search-plus fa-3x"></i></div>
                        </div> <img src="/static/img/Brand/rs.png" class="img-responsive" alt=""> </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#Brand9" class="Brand-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content"> <i class="fa fa-search-plus fa-3x"></i></div>
                        </div> <img src="/static/img/Brand/tb.png" class="img-responsive" alt=""> </a>
                </div>

            </div>
        </div>
    </section>
    <section class="success" id="Polls">
        <div class="container">
             <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Put your mouse up!</h2>
                        <hr class="star-light">

                </div>
             </div>

                <div class="col-lg-12 col-lg-offset-2">
                    <div class="row">
                         <div class="col-lg-8 text-center">


                             {% if latest_question_list %}
                            <ul>
                                <div class="btn btn-lg btn-outline" target="_blank"> <i class="fa fa-bullseye"></i>
                                    {% for question in latest_question_list %}
                                    <a href="/ysl/{{ question.id }}"> Click me </a>
                                </div>
                            {% endfor %}

                            {% else %}
                                <p><strong>Your selection is complete.<br>Please go to the next section</strong></p>
                            {% endif %}
                            </ul>

                         </div>
                    </div>


                </div>
        </div>







    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact Me</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="email">Email Address</label>
                                <input type="email" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="phone">Phone Number</label>
                                <input type="tel" class="form-control" placeholder="Phone Number" id="phone" required data-validation-required-message="Please enter your phone number.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="message">Message</label>
                                <textarea rows="5" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>520-10 Gyeongsudae-ro, Dongan-gu
                            <br>Gyeonggi-do, Korea</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                           
                            <li> <a href="#" class="btn-social btn-outline"><span class="sr-only">Linked In</span><i class="fa fa-fw fa-linkedin"></i></a></li>
                            <li> <a href="#" class="btn-social btn-outline"><span class="sr-only">Facebook</span><i class="fa fa-fw fa-facebook"></i></a></li>
                            <li> <a href="#" class="btn-social btn-outline"><span class="sr-only">Google Plus</span><i class="fa fa-fw fa-google-plus"></i></a></li>
                            <li> <a href="#" class="btn-social btn-outline"><span class="sr-only">Twitter</span><i class="fa fa-fw fa-twitter"></i></a></li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About Author</h3>
                        <p>This website is a non-official page created by <a href="http://YSL.com">YSL.com</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12"> Copyright &copy; YSL.com 2020</div>
                </div>
            </div>
        </div>
    </footer>
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top"> <i class="fa fa-chevron-up"></i> </a>
    </div>
    <div class="Brand-modal modal fade" id="Brand1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Introduce Brand</h2>
                            <hr class="star-primary"> <img src="/static/img/Brand/as.png" class="img-responsive img-centered" alt="">
                            <h2><center>Acne Studio</center></h2>
                            <p>화려한 스포트라이트를 꺼리지 않는 타입이군요!<br>

불편한 것은 질색! 패션에 있어서는 편안함이 최고라고 생각하시는군요. 남들에게 주목받는 것보다 실용성을 추구하는 당신에게는 아크네 스튜디오가 참 잘 어울릴 것 같아요.<br>

아크네 스튜디오는 스트리트 웨어로부터 주로 영향을 받아 군더더기 없이 깔끔한 룩을 전개하는 브랜드입니다.<br>

눈에 띄기보다는 실용적인 멋을 추구하는 당신에게 아크네 스튜디오의 대표 상품 트윌 스니커즈를 추천드립니다. 꾸민듯 안꾸민듯 자연스러운 당신의 데일리룩에 완벽한 선택이 될 거예요.</p>

                            <div>
                                        <a href="https://www.catchfashion.com/men/brands/38772155-ceeb-4c70-8d0e-0cc5cc8c7aa1?query=%7B%22categories%22%3A%5B%5D%2C%22inStock%22%3Afalse%2C%22new%22%3Afalse%2C%22price%22%3A%7B%7D%2C%22priceComparable%22%3Afalse%2C%22retailers%22%3A%5B%5D%2C%22sale%22%3Afalse%2C%22sort%22%3A%22recency%3Adesc%22%7D" target="_blank">
                                        <p align="center"><img src="/static/img/connect.png" alt width="300" height="32"/>

                                        </p></a>
                            <button id="btnSubmit" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Brand-modal modal fade" id="Brand2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="Brand-body">
                            <h2>Introduce Brand</h2>
                            <hr class="star-primary"> <img src="/static/img/Brand/bg.png" class="img-responsive img-centered" alt="">
                            <h2><center>Balenciaga</center></h2>
                            <p>답답한 셔츠보다 편안한 티셔츠에 더 자주 손이 가지 않나요? 자유분방하지만 나만의 스타일에 대해선 확고한 생각이 있는 당신에게는 인간 발렌시아가라는 별명이 어울리네요.<br>

발렌시아가는 대담한 아이템에 주저하지 않는 당신에게 잘 맞는 독창적인 스트리트 하이패션을 선보이는 브랜드입니다.<br>

발렌시아가의 대표 상품 트랙 슈즈로 주체할 수 없는 당신만의 감성을 맘껏 뽐내보세요.</p>

                            <div>
                                        <a href="https://www.catchfashion.com/men/brands/4fc3cbf6-dce3-4686-91e5-291d63c60bbc?query=%7B%22categories%22%3A%5B%5D%2C%22inStock%22%3Afalse%2C%22new%22%3Afalse%2C%22price%22%3A%7B%7D%2C%22priceComparable%22%3Afalse%2C%22retailers%22%3A%5B%5D%2C%22sale%22%3Afalse%2C%22sort%22%3A%22recency%3Adesc%22%7D" target="_blank">
                                        <p align="center"><img src="/static/img/connect.png" alt width="300" height="32"/>

                                        </p></a>
                            <button id="btnSubmit" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Brand-modal modal fade" id="Brand3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Introduce Brand</h2>
                            <hr class="star-primary"> <img src="/static/img/Brand/bt.png" class="img-responsive img-centered" alt="">
                            <h2><center>Berluti</center></h2>
                            <p>남들에게 대놓고 이야기하지는 않지만, 나의 근사함을 모두가 은근히 알아줬으면 하는 타입이군요. 당신에겐 이탈리아의 장인 브랜드 벨루티가 잘 어울립니다.<br>

벨루티는 1895년 구두장인 알렉산드로 벨루티가 설립한 브랜드로 오랜 역사와 전통을 지닌 브랜드입니다. 화려하진 않지만 특유의 고급스러움을 간직한 디자인이 당신에게 딱이죠. 벨루티의 대표 상품 가죽 지갑으로 당신의 품격을 표현해보세요.

</p>

                            <div>
                                        <a href="https://www.catchfashion.com/men/brands/1692677b-071d-4b55-bf87-5b20cfc4338c?query=%7B%22categories%22%3A%5B%5D%2C%22inStock%22%3Afalse%2C%22new%22%3Afalse%2C%22price%22%3A%7B%7D%2C%22priceComparable%22%3Afalse%2C%22retailers%22%3A%5B%5D%2C%22sale%22%3Afalse%2C%22sort%22%3A%22recency%3Adesc%22%7D" target="_blank">
                                        <p align="center"><img src="/static/img/connect.png" alt width="300" height="32"/>

                                        </p></a>
                            <button id="btnSubmit" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Brand-modal modal fade" id="Brand4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Introduce Brand</h2>
                            <hr class="star-primary"> <img src="/static/img/Brand/cp.png" class="img-responsive img-centered" alt="">
                            <h2><center>Common Project</center></h2>
                            <p>스타일에 관심은 많지만 공작새처럼 화려한 아이템은 질색인 당신. 과한 포인트보단 정갈한 기본템으로 코디하기를 즐기는 당신에게는 커먼 프로젝트가 딱이네요! <br>

커먼 프로젝트는 기본에 충실하면서도 트렌디한 디자인으로 많은 패션피플들의 사랑을 받고 있는 머스트 해브 브랜드입니다.<br>

커먼 프로젝트의 대표 상품 스니커즈와 함께라면 어떤 룩도 당신만의 스타일로 완성할 수 있을 거예요.</p>

                            <div>
                                        <a href="https://www.catchfashion.com/men/brands/9dbe4f1d-1cd9-4d8c-9cdc-13b7656248ba?query=%7B%22categories%22%3A%5B%5D%2C%22inStock%22%3Afalse%2C%22new%22%3Afalse%2C%22price%22%3A%7B%7D%2C%22priceComparable%22%3Afalse%2C%22retailers%22%3A%5B%5D%2C%22sale%22%3Afalse%2C%22sort%22%3A%22recency%3Adesc%22%7D" target="_blank">
                                        <p align="center"><img src="/static/img/connect.png" alt width="300" height="32"/>

                                        </p></a>
                            <button id="btnSubmit" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Brand-modal modal fade" id="Brand5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Introduce Brand</h2>
                            <hr class="star-primary"> <img src="/static/img/Brand/gc.png" class="img-responsive img-centered" alt="">
                            <h2><center>Gucci</center></h2>
                            <p>디테일은 많을 수록 이득! 무엇이든 화려하고 컬러풀하지 않으면 성에 차지 않는 당신은 아름다움을 위해서는 투자도 아끼지 않는 타입이네요. 그런 당신에게 구찌만큼 어울리는 브랜드가 또 있을까요?<br>

구찌는 이탈리아 특유의 낙천적인 감성을 그대로 담은 럭셔리 브랜드입니다. 화려하고도 로맨틱한 디자인은 맥시멀리스트들의 감성을 자극하기에 충분하죠.<br>

구찌의 대표 상품인 홀스빗 로고 백으로 모두에게 “인간구찌”다운 당신의 예쁨을 뽐내보시는건 어떨까요?</p>

                            <div>
                                        <a href="https://www.catchfashion.com/men/brands/3a0f3ea4-3782-4298-aedd-067b6d8332c3?query=%7B%22categories%22%3A%5B%5D%2C%22inStock%22%3Afalse%2C%22new%22%3Afalse%2C%22price%22%3A%7B%7D%2C%22priceComparable%22%3Afalse%2C%22retailers%22%3A%5B%5D%2C%22sale%22%3Afalse%2C%22sort%22%3A%22recency%3Adesc%22%7D" target="_blank">
                                        <p align="center"><img src="/static/img/connect.png" alt width="300" height="32"/>

                                        </p></a>
                            <button id="btnSubmit" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Brand-modal modal fade" id="Brand6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Intoroduce Brand</h2>
                            <hr class="star-primary"> <img src="/static/img/Brand/lw.png" class="img-responsive img-centered" alt="">
                            <h2><center>Loewe</center></h2>
                            <p>편안하지만 따분한 스타일은 싫으시죠? 유행에 따라 변덕스럽게 스타일을 바꾸기보다 자신만의 독특한 감성을 추구하는 당신을 보면 로에베가 떠오르네요.<br>

19세기 가죽 장인 공방으로 시작한 스페인의 럭셔리 브랜드입니다. 특유의 독특하고 예술적인 디테일로 오늘날까지도 많은 사랑을 받고 있는데요. 남다른 감각과 고급스러움이 당신에게 딱이에요.<br>

로에베의 대표 아이템 가죽 벨트만 있으면 어떤 룩도 당신에게 잘 어울리는 유러피안 룩으로 탈바꿈시킬 수 있을 거예요.</p>




                            <div>
                                        <a href="https://www.catchfashion.com/men/brands/3e5287b3-dbe0-41cd-9a97-381e58ae41bd?query=%7B%22categories%22%3A%5B%5D%2C%22inStock%22%3Afalse%2C%22new%22%3Afalse%2C%22price%22%3A%7B%7D%2C%22priceComparable%22%3Afalse%2C%22retailers%22%3A%5B%5D%2C%22sale%22%3Afalse%2C%22sort%22%3A%22recency%3Adesc%22%7D" target="_blank">
                                        <p align="center"><img src="/static/img/connect.png" alt width="300" height="32"/>

                                        </p></a>
                            <button id="btnSubmit" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Brand-modal modal fade" id="Brand7" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Introduce Brand</h2>
                            <hr class="star-primary"> <img src="/static/img/Brand/mm.png" class="img-responsive img-centered" alt="">
                            <h2><center>Maison Margiela</center></h2>
                            <p>어떤 일이건 본질이 가장 중요하다고 믿으시는군요. 불필요한 장식보다는 심플함을 추구하는 타입이지만 자신의 센스를 굳이 숨길 생각도 없으시네요. 그런 당신을 보니 메종 마르지엘라가 떠오릅니다!<br>

기하학적인 디자인과 실험적인 커팅으로 유명한 메종 마르지엘라는 독특한 디테일을 사랑하는 미니멀리스트들의 인기를 독차지하는 브랜드입니다.<br>

심플하지만 멋스러운 메종 마르지엘라의 대표아이템 5AC 백으로 당신의 개성을 드러내보시는 건 어떨까요?</p>

                            <div>
                                        <a href="https://www.catchfashion.com/men/brands/e357e828-25ff-4e6f-98dc-3b03d5d27f7f?query=%7B%22categories%22%3A%5B%5D%2C%22inStock%22%3Afalse%2C%22new%22%3Afalse%2C%22price%22%3A%7B%7D%2C%22priceComparable%22%3Afalse%2C%22retailers%22%3A%5B%5D%2C%22sale%22%3Afalse%2C%22sort%22%3A%22recency%3Adesc%22%7D" target="_blank">
                                        <p align="center"><img src="/static/img/connect.png" alt width="300" height="32"/>

                                        </p></a>
                            <button id="btnSubmit" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Brand-modal modal fade" id="Brand8" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Introduce Brand</h2>
                            <hr class="star-primary"> <img src="/static/img/Brand/rs.png" class="img-responsive img-centered" alt="">
                            <h2><center>Raf Simons</center></h2>
                            <p>유행가보다는 인디밴드의 음악을 좋아하고, 박스오피스 탑10보다는 예술영화를 좋아하시진 않나요? 비주류의 감성을 지녔지만, 합리적인 면모도 갖추고 있어 실용적인 미니멀 스타일을 선호하죠. 그런 당신을 보면 어쩐지 라프 시몬즈가 떠오르네요.<br>

스포티한 디테일과 날카로운 테일러드 실루엣이 매력적인 라프 시몬즈는 미니멀리스트라면 거부하긴 힘든는 매력을 가졌습니다.<br>

라프 시몬즈의 대표 아이템 스니커즈와 당신은 찰떡궁합! 흔하지 않으면서도 세련된 당신만의 감성을 120% 보여줄 수 있을거예요.</p>

                            <div>
                                        <a href="https://www.catchfashion.com/men/brands/8114fe3b-6be2-4d7f-ac19-f10629b4ed4c?query=%7B%22categories%22%3A%5B%5D%2C%22inStock%22%3Afalse%2C%22new%22%3Afalse%2C%22price%22%3A%7B%7D%2C%22priceComparable%22%3Afalse%2C%22retailers%22%3A%5B%5D%2C%22sale%22%3Afalse%2C%22sort%22%3A%22recency%3Adesc%22%7D" target="_blank">
                                        <p align="center"><img src="/static/img/connect.png" alt width="300" height="32"/>

                                        </p></a>
                            <button id="btnSubmit" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Brand-modal modal fade" id="Brand9" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Introduce Brand</h2>
                            <hr class="star-primary"> <img src="/static/img/Brand/tb.png" class="img-responsive img-centered" alt="">
                            <h2><center>Thom Browne</center></h2>
                            <p>언제 어디서나 완벽해 보이고 싶은 당신! 자신을 위한 투자를 아끼지 않으며 성과를 뽐내는데도 거침이 없네요. 이지적인 분위기와 자신감을 다 갖춘 당신은 그날의 착장도 아무렇게나 선택하는 법이 없죠. 세련미와 도도한 당신을 볼 때면 “인간 톰 브라운”이라는 말이 절로 나올 수 밖에요.<br>

톰 브라운은 차별화된 테일러링과 특유의 고급스러운 분위기는 다른 명품과 비교해도 타의 추종을 불허하죠. 당신만의 분위기를 더 강조하고 싶나요? 톰브라운의 트레이드 마크인 스트라이프 가디건으로 완벽한 인간 톰브라운으로 거듭나보세요.</p>

                            <div>
                                        <a href="https://www.catchfashion.com/men/brands/3c08a44a-0f07-4eeb-bc5c-861330fe6012?utm_source=catch&amp;utm_medium=web-affiliate&amp;utm_campaign=CAT-ADHOC-S1AWA-ALL-TRF-FashionTest&amp;utm_content=INT-LuxuryType-U0000&amp;utm_term=200622-LuxuryType_%ED%86%B0%EB%B8%8C%EB%9D%BC%EC%9A%B4" target="_blank">
                                        <p align="center"><img src="/static/img/connect.png" alt width="300" height="32"/>

                                        </p></a>
                            <button id="btnSubmit" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/static/js/jqBootstrapValidation.js"></script>
    <script src="/static/js/contact_me.js"></script>
    <script src="/static/js/freelancer.min.js"></script>
</body>

</html>